<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <!--The content below is only a placeholder and can be replaced.-->

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/basic.css">

    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">

                <a href="/type/home"><img src="/images/node.jpg" height="44px;" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">

                    <li class="active"><a href="#">商品管理</a>
                    </li>
                    <li class="active"><a href="#">系统设置</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>欢迎您：<%= userinfo.username%></a>
                    <li><a href="/loginOut">安全退出</a>
                </ul>
            </div>
        </div>
    </nav>



    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <a href="#" class="list-group-item active">分类管理</a>
                <a href="/type/index" class="list-group-item">
                    商品分类列表</a>
                <a href="/type/add" class="list-group-item">
                    增加商品分类</a>

                <a href="#" class="list-group-item active">商品管理</a>
                <a href="/product/index" class="list-group-item">
                    商品列表</a>
                <a href="/product/add" class="list-group-item">
                    增加商品</a>

                <a href="#" class="list-group-item active">轮播图管理</a>
                <a href="/carousel/index" class="list-group-item">
                    轮播图列表</a>
                <a href="/carousel/add" class="list-group-item">
                    增加轮播图</a>

                <a href="#" class="list-group-item active">猜你喜欢</a>
                <a href="/guess/index" class="list-group-item">
                    猜你喜欢列表</a>
                <a href="/guess/add" class="list-group-item">
                    增加猜你喜欢</a>

                <a href="#" class="list-group-item active">推荐</a>
                <a href="/recommend/index" class="list-group-item">
                    推荐商品</a>
                <a href="/recommend/add" class="list-group-item">
                    增加推荐商品</a>
            </div>
            <div class="col-sm-10">
                <ol class="breadcrumb">
                    <li class="active">商品管理
                    </li>
                    <li class="active">商品列表
                    </li>
                </ol>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        搜索
                    </div>
                    <div class="panel-body">
                        <form role="form" class="form-inline">
                            <div class="form-group">
                                <label for="name">名称</label>
                                <input type="text" class="form-control" id="name" placeholder="请输入名称">
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-default">开始搜索</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--
                列表展示
            -->
                <div class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th class="t">商品编号</th>
                                <th>图片</th>
                                <th>名称</th>
                                <th>现价</th>
                                <th>原价</th>
                                <th >商品详情</th>
                                <th>类别</th>


                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(let i=0; i<productResult.length;i++){%>
                            <tr>
                                <td class="id"><%= productResult[i]._id%></td>
                                <td><img class="img" src="/upload/<%= productResult[i].picname%>" alt="商品图片"></td>
                                <td class="title"><%= productResult[i].title%></td>

                                <td class="price"><%= productResult[i].price%></td>
                                <td><%= productResult[i].oldprice%></td>
                                <td class="detail"><%= productResult[i].detail%></td>
                                <td><%= productResult[i].typeInfo[0].typename%></td>

                                <td class="text-center">
                                    <button type="button" class="btn btn-info"><a
                                            href="/product/edit?_id=<%= productResult[i]._id %>">编辑</a> </button>
                                    <button type="button" class="btn btn-danger"><a
                                            href="/product/delete?_id=<%= productResult[i]._id%>&picname=<%= productResult[i].picname %>">删除</a></button>
                                </td>
                            </tr>

                            <%}%>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</body>

</html>